@model AstarWeb.Models.PoleModel

<button class="PoleS" value="@Model.Id" id="@Model.Id">

        <div class="G">@Html.DisplayFor(modelItem => Model.G)</div>
        <div class="H">@Html.DisplayFor(modelItem => Model.H)</div>

        <div class="Rodzic"> Id= @Model.Id </div>


</button>

