@model IEnumerable<AstarWeb.Models.PoleModel>

@{
    ViewData["Title"] = "View";
}

@using (Html.BeginForm("handleButtonClick", "Pole"))
{
    <button class="btn-dark" name="buttonNumber" type="submit" asp-controller="Pole" asp-action="HandleButtonClick">wyznacz trase</button>
}



@for (int i = 0; i < Model.Count(); i++)
{
    @if (ViewBag.Sciezka != null)
    {
        bool dodaniePola = false;
        for (int j = 0; j < ViewBag.Sciezka.Count; j++)
        {

            if (Model.ElementAt(i).Id == ViewBag.Sciezka[j].Id)
            {
                dodaniePola = true;
                <div id="nr" class="Sciezka">
                    <div class="G">@Html.DisplayFor(modelItem => Model.ElementAt(i).G)</div>
                    <div class="H">@Html.DisplayFor(modelItem => Model.ElementAt(i).H)</div>
                    <div class="Rodzic"> Id= @Html.DisplayFor(modelItem => Model.ElementAt(i).Id) </div>
                </div>
            }
        }
        if (dodaniePola == true)
        {

            continue;
        }

    }


    @if (i % 10 == 0)
    {
        <div style="clear:both"></div>

    }

    if (Model.ElementAt(i).StartKon == 's')
    {
        <div id="nr" class="PoleS">

            <div class="G">@Html.DisplayFor(modelItem => Model.ElementAt(i).G)</div>
            <div class="H">@Html.DisplayFor(modelItem => Model.ElementAt(i).H)</div>

            <div class="Rodzic"> Id= @Html.DisplayFor(modelItem => Model.ElementAt(i).Id) </div>

        </div>
        continue;
    }
    if (Model.ElementAt(i).StartKon == 'k')
    {
        <div id="nr" class="PoleK">

            <div class="G">@Html.DisplayFor(modelItem => Model.ElementAt(i).G)</div>
            <div class="H">@Html.DisplayFor(modelItem => Model.ElementAt(i).H)</div>

            <div class="Rodzic"> Id= @Html.DisplayFor(modelItem => Model.ElementAt(i).Id) </div>

        </div>
        continue;
    }
    if (Model.ElementAt(i).Osiagalny == true)
    {
        <div id="nr" class="Pole">

            <div class="G">@Html.DisplayFor(modelItem => Model.ElementAt(i).G)</div>
            <div class="H">@Html.DisplayFor(modelItem => Model.ElementAt(i).H)</div>

            <div class="Rodzic"> Id= @Html.DisplayFor(modelItem => Model.ElementAt(i).Id) </div>

        </div>
        continue;
    }
    if (Model.ElementAt(i).Osiagalny == false)
    {
        <div id="nr" class="PoleP">

            <div class="G">@Html.DisplayFor(modelItem => Model.ElementAt(i).G)</div>
            <div class="H">@Html.DisplayFor(modelItem => Model.ElementAt(i).H)</div>

            <div class="Rodzic"> Id= @Html.DisplayFor(modelItem => Model.ElementAt(i).Id) </div>

        </div>
        continue;


    }









}

