@model IEnumerable<AstarWeb.Models.PoleModel>

@{
    ViewData["Title"] = "View";
}




@using (Html.BeginForm("handleButtonClickReset", "Pole"))
{
    <button class="btn-dark" name="buttonNumber" type="submit" asp-controller="Pole" asp-action="handleButtonClickReset" OnClientClick="return false;">RESET</button>
}


    <button class="pktStartowy" value="start">Wybież punkt startowy</button>
    <button class="pktKoncowy" value="koniec">Wybież punkt koncowy</button>
    <button class="WyznaczenieTrasy" >WyznaczenieTrasy</button>
    <button class="DodaniePrzeszkod">Dodaj losowe przeszkody</button>





@using (Html.BeginForm("PobierzDlsiatki", "Pole"))
{
    <input type="number" name="Dl" />
    <input type="submit" />
}

<div class="Siatka">
    @for (int i = 0; i < Model.Count(); i++)
    {// modulo z DlugoscSiatki
        @if (ViewBag.DlugoscSiatki == null)
        {
            ViewBag.DlugoscSiatki = 10;
        }
        @if (i % ViewBag.DlugoscSiatki == 0)
        {
            <div style="clear:both"></div>

        }






        if (Model.ElementAt(i).Osiagalny == true)
        {
            <div class="oneButton" id="@Model.ElementAt(i).Id">
                <button class="PoleBtn" value="@Model.ElementAt(i).Id">

                    <div class="G">@Html.DisplayFor(modelItem => Model.ElementAt(i).G)</div>
                    <div class="H">@Html.DisplayFor(modelItem => Model.ElementAt(i).H)</div>

                    <div class="Rodzic"> Id= @Html.DisplayFor(modelItem => Model.ElementAt(i).Id) </div>


                </button>
            </div>
            continue;
        }
        if (Model.ElementAt(i).Osiagalny == false)
        {
            <div id="Model.ElementAt(i).Id" class="PoleP">

                <div class="G">@Html.DisplayFor(modelItem => Model.ElementAt(i).G)</div>
                <div class="H">@Html.DisplayFor(modelItem => Model.ElementAt(i).H)</div>

                <div class="Rodzic"> Id= @Html.DisplayFor(modelItem => Model.ElementAt(i).Id) </div>

            </div>
            continue;
        }
        


    }
</div>

