@model IEnumerable<AstarWeb.Models.PoleModel>
@{
    int DlugoscSiatki = (int)Math.Sqrt(Model.Count());
}
@for (int i = 0; i < Model.Count(); i++)
{

    @if (i % DlugoscSiatki == 0)
    {
        <div style="clear:both"></div>
    }
    @if (Model.ElementAt(i).StartKon == 's')
    {
        <button class="PoleS" value="@Model.ElementAt(i).Id" id="@Model.ElementAt(i).Id">
            <div class="F">F= @Html.DisplayFor(modelItem => Model.ElementAt(i).F) </div>
        </button>
        continue;
    }
    @if (Model.ElementAt(i).StartKon == 'k')
    {
        <button class="PoleK" value="@Model.ElementAt(i).Id" id="@Model.ElementAt(i).Id">
            <div class="F">F= @Html.DisplayFor(modelItem => Model.ElementAt(i).F) </div>
        </button>
        continue;
    }
    @if (ViewBag.Sciezka != null)
    {
        bool dodaniePola = false;
        for (int j = 0; j < ViewBag.Sciezka.Count; j++)
        {
            if (Model.ElementAt(i).Id == ViewBag.Sciezka[j].Id)
            {
                dodaniePola = true;
                <div id="nr" class="Sciezka">
                </div>
            }
        }
        if (dodaniePola == true)
        {
            continue;
        }
    }
    if (Model.ElementAt(i).Osiagalny == true)
    {
        <div class="oneButton" id="@Model.ElementAt(i).Id">
            <button class="PoleBtn" value="@Model.ElementAt(i).Id">
                <div class="F">F= @Html.DisplayFor(modelItem => Model.ElementAt(i).F) </div>
            </button>
        </div>
        continue;
    }
    if (Model.ElementAt(i).Osiagalny == false)
    {
        <div id="@i" class="PoleP">
        </div>
        continue;
    }

}
